{% extends "base.html.twig" %}

{% block body %}
<div class="home-container">
    <h1>Bienvenue chez Agency</h1>
    <p>Des biens près de chez vous au meilleur prix</p>
</div>
<h2>Nouveautés</h2>

{% endblock %}
